body {
    background-color: beige;
    text-align: center;
}

h2 {
    color: darkblue;
}

hr {
    background-color: steelblue;
    height: 10px;
    width: 50%;
    margin: auto;
    align-content: center;
}

p {
    color: saddlebrown;
}
